.App {
  text-align: center;
}

.App h2 {
  max-width: 80vw;
  margin: auto;
}

.App ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App li {
  flex: 1 1 calc(50vw - 15px);
  max-width: 45vw;
  list-style: none;
  background: blue;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.App li * {
  color: white;
  width: 100%;
}